# ==================== VARIABLES GLOBALES ====================
NODE_ENV=development

# ==================== POSTGRESQL ====================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=safae
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ==================== MONGODB ====================
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=safae
MONGO_HOST=mongodb
MONGO_PORT=27017

# ==================== REDIS ====================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# ==================== JWT ====================
JWT_SECRET=ma_super_cle_secrete_123456
JWT_EXPIRES_IN=24h

# ==================== STRIPE (PAIEMENT) ====================
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_KEY
STRIPE_WEBHOOK_SECRET=whsec_YOUR_STRIPE_WEBHOOK

# ==================== SERVICES PORTS ====================
AUTH_SERVICE_PORT=3001
RENDEZVOUS_SERVICE_PORT=3002
DOSSIER_SERVICE_PORT=3003
ORDONNANCE_SERVICE_PORT=3004
ANALYSE_SERVICE_PORT=3005
PAIEMENT_SERVICE_PORT=3007
ADMINISTRATION_SERVICE_PORT=3010

# ==================== BASE DE DONNÉES NAMES ====================
AUTH_DB=auth_db
RENDEZVOUS_DB=rendezvous_db
DOSSIER_DB=dossier_medical
ORDONNANCE_DB=ordonnance_db
ANALYSE_DB=analyses_db
PAIEMENT_DB=paiement_db
ADMINISTRATION_DB=administration_db
